[submodule "crafting-interpreter"]
	path = crafting-interpreter
	url = https://@github.com/nguyenhothanhtam0709/crafting-interpreter.git
[submodule "nand2tetris"]
	path = nand2tetris
	url = https://github.com/nguyenhothanhtam0709/nand2tetris.git
[submodule "lc-3-virtual-machine"]
	path = lc-3-virtual-machine
	url = https://github.com/nguyenhothanhtam0709/lc-3-virtual-machine.git
[submodule "simple-interpreter-python"]
	path = simple-interpreter-python
	url = https://github.com/nguyenhothanhtam0709/simple-interpreter-python.git
